<%- include("./partials/layout-start", {title: title}) %>
<%- include("./partials/menu") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <br>
        <hr>
        <a class="btn btn-sm btn-success" href="book/create">Добавить запись</a>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-4"><h3>Pogoda</h3>
                <ul class="list-group">
                <% lineOfNews.forEach((el, i) => { %>
                    <li class="list-group-item active" aria-current="true">City: <%-el.city_name%></li>
                    <li class="list-group-item">description : <%- el.weather.description %></li>
                   <li class="list-group-item">Temp : <%- el.temp %></li>
                   <li class="list-group-item">Wind speed : <%- el.wind_spd %></li>
                   <li class="list-group-item">Visibility : <%- el.vis %></li>
                <% }); %>
                </ul> </div>
            <div class="col-sm-8"><button class="btn btn-sm"><a href="/">update</a></button><img src="<%-lineOfGifs%>" alt="bitly_url"> </div>
        </div>


           

          
          
    </div>
</div>

<%- include("./partials/layout-end") %>

